/* Animasi akan berlaku hanya pada tampilan dengan lebar minimal 768px (tampilan desktop) */

@keyframes float {
    0%,
    100% {
        transform: translateY(0) scale(1.5);
    }
    50% {
        transform: translateY(-10px) scale(1.4);
    }
}

@keyframes floatX {
    0%,
    100% {
        transform: translateY(0) scale(1.5);
    }
    50% {
        transform: translateY(-10px) scale(1.4);
    }
}

@keyframes float-m {
    0%,
    100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(0) scale(0.9);
    }
}

@keyframes float-md {
    0%,
    100% {
        transform: translateY(0) scale(1.2);
    }
    50% {
        transform: translateY(0) scale(1.1);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}
.animate-floatX {
    animation: floatX 3s ease-in-out infinite;
}

.animate-float-m {
    animation: float-m 3s ease-in-out infinite;
}

.animate-float-md {
    animation: float-md 3s ease-in-out infinite;
}

.active {
    color: blue;
}

/* .after\:content::after {
    content: "";
}

.after\:absolute::after {
    position: absolute;
}

.after\:inset-0::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.after\:rounded-xl::after {
    border-radius: 1.5rem;
}

.after\:bg-transparent::after {
    background-color: transparent;
} */
